<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand"><img src="/img/logo-Makers.png" alt="logo" width="150px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        <a class="nav-link" href="#">Precios</a>
        <a class="nav-link" href="#">Ayuda</a>
        <a class="nav-link" href="#">Documentación</a>
        <a class="nav-link" href="/sigin">Iniciar Session</a>
      </div>
    </div>
  </div>
</nav>

<div class="container bg-index">

</div>
