
/*
.bg-index{
    width: 500px;
    height: 1000px;
    background-color: #082032;
}
.navbar{
    background: #082032 !important;
}
.navbar .nav-link {
    color: #fff;
} 
.navbar .navbar-nav .active{
    color: #00FFF4;
}
/*Sigin
.container{
    width: 1920px;
    background: #00FFF4;
}
.container .row .form{
    background-image: url(/img/login-Member.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    padding: 30px;

}
*/